.create-proposal-body{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;

     p{
        color: var(--text-light);
        font-size: var(--fs-xs);
        font-weight: 600;
    }


    h3{
        color: var(--text-light);
        font-weight: 600;
    }

    .proposal-body-child{
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: 16px;

        p{
            color: var(--text-light);
            font-size: var(--fs-xs);
            font-weight: 600;
        }
    }

    .child-container{
        display: flex;
        flex-direction: column;
        gap: 10px;


        .team-selection-container{
            display: grid;
            grid-template-rows: repeat(4, auto);
            grid-auto-flow: column;                /* fill rows first, then create new column */
            grid-auto-columns: auto;               /* automatic column width */
        }

        &.pricing{
            width: 100%;
            max-width: 400px;
            min-width: fit-content;
        }

        table{  
            width: 100%;
            border-collapse: collapse;     

            td{
                width: fit-content;
                border-bottom: 1px solid var(--field-stroke);
                padding: 10px;

                .cell-content{
                    width: 100%;
                    min-width: fit-content;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                }
            }
            
            .pricing-text, .pricing-values{
                font-size: 13px;
                font-weight: 500;
            }
        }
    }

    
}

.proposal-submit-container{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 10px;

    

}

.success{
    align-self: flex-end;
    margin-bottom: 5px;
    width: fit-content;
    background-color: rgb(229, 255, 229);
    border-radius: 5px;
    border: 1px solid rgb(40, 182, 40);
    padding: 5px 10px;
    
    color: rgb(1, 100, 37) !important;
}

.error{
    align-self: flex-end;
    margin-bottom: 5px;
    width: fit-content;
    background-color: rgb(255, 233, 229);
    border-radius: 5px;
    border: 1px solid rgb(182, 40, 40);
    padding: 5px 10px;
    
    color: rgb(210, 6, 6) !important;
}

    .success-modal-bg{
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 0;
        left: 0;
        z-index: 9999;


        .success-modal-container{
            background-color: var(--background);
            padding: 20px;
            border-radius: 8px;
            gap: 10px;
            padding: 30px;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            max-width: 500px;
            position: relative;


            .icon{
                color: rgb(8, 120, 8);
                fill: green;
                width: 30px;
                height: 30px;
                opacity: 0.7;
            }

            .head{
                color: rgb(26, 160, 26);
                font-weight: 500;
                font-size: var(--fs-lg);
                display: flex;
                align-items: center;
                gap: 10px;
            }

            .message{
                color: var(--text-light);
                font-weight: 400;
                font-size: var(--fs-md);
                display: flex;
                align-items: center;
                gap: 10px;
            }

            .body{
                color: var(--text-strong);

                span{
                    font-weight: 600;
                }
            }

            .delete-btns{
                margin-top: 30px;
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: center;
                gap: 10px;
            }
        }
    }