.video-container{
        display: flex;
        width: 100%;
        max-width: 500px;
        min-width: 270px;
        aspect-ratio: 16 / 9;
        background-color: var(--field-fill);
        border: 1px solid var(--field-stroke);
        border-radius: 4px;

        &.full{
            width: 100%;
            max-width: 100%;
        }

        p{
            margin: auto;
        }

        iframe{
            width: 100%;
            aspect-ratio: 16 / 9;
        }
    }