.container {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 6px;
  width: 100%;
  max-width: 700px;
  margin-right: auto;
}

.tag {
  background: #686767;
  padding: 4px 8px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: var(--fs-xs);
  color: white
}

.input {
  border: none;
  outline: none;
  flex: 1;
  min-width: 120px;
  padding: 4px 8px;
  background-color: transparent;
  color: var(--text-strong);
  font-family: var(--font-montserrat);
  font-size: var(--fs-xs);
}
