.add-item-btn{
    width: 100%;
    border: 1px dashed var(--field-stroke);
    color: var(--field-stroke);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--field-fill);
    padding: 10px;
    transition: all 0.1s ease-in-out;
    border-radius: 6px;
    gap: 5px;

    p{
        font-weight: 500;
        color: var(--field-stroke);
    }

    &:hover{
        background-color: rgb(227, 227, 227);
    }
}