.parent-layout{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    max-height: auto;
    background-color: var(--background);
    font-family: var(--font-montserrat), system-ui, sans-serif;
}