.header{
    width: 100%;
    min-height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    border-bottom: 1px solid var(--field-stroke);
    box-sizing: border-box;
}