
.field-set{
    display: flex;
    flex-direction: column;
    width: fit-content;
    gap: 10px;
    border: none;
    margin-bottom: 20px;
}


.error{
    color: red;
    padding: 0;
    font-size: 12px;
    margin-bottom: 5px;
}


.input-child{
    width: 430px;
    min-width: 200px;
    
}
