.member-container{
    display: flex;
    width: 100%;
    align-self: center;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-inline: 10px;
    max-width: 1000px;
    min-width: 280px;
    gap: 30px;     
}

.packages-items{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.results-header{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    .results-count{
        color: var(--text-light);
        font-size: var(--fs-xs);
    }
}